.navbar {
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  color: #e0e4ee;
  background: #2e363f;
  height: 60px;
}

.navbar_container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 60px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_row_element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 29%;
}

.navbar_logo {
  width: 100px;
}

.navbar_row_element p {
  margin: 0;
}

.navbar_row_element h2 {
  width: calc(60% - 10px);
  margin: 0;
}
